body {
  font-family: 'Inter Extra Light', sans-serif;
  background-color: white;
  color: #111;
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px 10px;
  line-height: 1.6;
}

h1, h2 {
  color: #333;
  margin-top: 2em;
}

#bubble {
  margin: 0 auto;
  
}
